/*Created with Adobe RoboHelp 2019.*/
body {
  font-family: Calibri;
  background-color: rgb(0, 255, 0);
}

h1 {
  font-weight: bold;
  font-size: 24.0pt;
}

h2 {
  font-weight: bold;
  font-size: 18.0pt;
}

h3 {
  font-weight: bold;
  font-size: 14.0pt;
}

h4 {
  font-weight: bold;
  font-size: 12.0pt;
}

h5 {
  font-weight: bold;
  font-size: 10.0pt;
}

h6 {
  font-weight: bold;
  font-size: 8.0pt;
}

p {
  font-size: 11.0pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
}

a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}

span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}

a.dropspot {
  cursor: pointer;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}

a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}

span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}

ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
  font-size: 12pt;
}

p.minitoc-caption {
  font-weight: bold;
  font-size: 12pt;
}

ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

ol.minitoc-list ol {
  list-style: none;
}

a.minitoc-list-item {}

p.seealso-caption {
  font-weight: bold;
  font-size: 12pt;
}

ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

a.seealso-list-item {}

p.reltopics-caption {
  font-weight: bold;
  font-size: 12pt;
}

ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

a.reltopics-list-item {}